spring:
  application:
    name: kkookk

  profiles:
    active: local

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100

server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

logging:
  level:
    root: INFO
    com.project.kkookk: DEBUG


# ===============================
# Custom App Configuration
# ===============================
app:
  qr-base-url: "https://kkookk.com/c/s/"
  storage:
    local-path: "storage" # 로컬 파일 저장소 경로

